@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

.hovertest {
    width: 1002px;
    height: 500px;
    border: 1px solid #ff0000;
    margin: 15px auto;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.hovertest:hover {
    background: #000;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 20;
}

.hovertest:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 30;
}

.hovertest li:hover img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 40;
}

.lanren01 {
    width: 667px;
    height: 332px;
    position: absolute;
    left: 0;
    top: 0;
}

.lanren02 {
    width: 333px;
    height: 165px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.lanren03 {
    width: 165px;
    height: 165px;
    position: absolute;
    left: 335px;
    bottom: 0;
}

.lanren04 {
    width: 165px;
    height: 165px;
    position: absolute;
    left: 503px;
    bottom: 0;
}

.lanren05 {
    width: 332px;
    height: 165px;
    position: absolute;
    right: 0;
    top: 0;
}

.lanren06 {
    width: 332px;
    height: 332px;
    position: absolute;
    right: 0;
    bottom: 0;
}